<p class="logo"><a href="https://doc.qldn.cf/">
  <img class="logo" src="{{ pathto('_static/openerp.png', 1) }}" alt="Logo"/>
</a></p>

<h3>Other Docs</h3>
<ul>
  <li><a href="https://doc.qldn.cf/trunk">Odoo Developers Documentation</a></li>
  <li><a href="https://doc.qldn.cf/trunk/server">Odoo Server Developers Documentation</a></li>
  <li><a href="https://doc.qldn.cf/book">Odoo Users Documentation</a></li>
</ul>

<h3>Useful Links</h3>
<ul>
  <li><a href="https://www.qldn.cf/">The Odoo website</a></li>
  <li><a href="http://python.org/">The Python programming language</a></li>
</ul>
