<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Awesome Open Source Blogging Platform</h2>
            <h3 class="oe_slogan">Write, Design, Promote, Engage</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="blog_cover.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
				Express yourself with the QLDN grade blogging
				platform. Write beautiful blog posts, engage with visitors,
				translate content and moderate social streams.
            </p><p>
				Get your blog posts efficiently referenced in Google and
				translated in mutiple languages in just a few clicks.
			</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Write Beautiful Blog Posts</h2>
        <h3 class="oe_slogan">Get rid of old WYSIWYG editors</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Drag &amp; Drop well designed <em>'Building Blocks'</em> to
                create beautifull blog posts that perfectly integrates images,
                videos, call-to-actions, quotes, banners, etc.
            </p><p>
                With our unique <em>'edit inline'</em> approach, you don't need
                to be a designer to create awsome, good-looking, content. Each blog
                post will look like it's designed by a professional designer.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture oe_screenshot" src="website_edit.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Automated Translation by Professionals</h2>
        <h3 class="oe_slogan">Reach multi-language audiences without pain</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture" src="openerp_translation_tool.png">
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Get your blog posts translated in multiple languages with no effort.
              Our translation "on demand" feature allows you to benefit from
              professional translators to translate all your changes
              automatically. ($0.05 per word) Translated versions are updated
              automatically once translated by professionals (around 32 hours).
          </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Engage With Your Visitors</h2>
        <h3 class="oe_slogan">Live chat with your visitors in one click</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
              The integrated website live chat feature allows you to start chatting in
              real time with your visitors to get feedback on your recent posts
              or get ideas to write new posts.
          </p><p>
              Engaging with your visitors is also a great way to convert visitors
              into customers.
          </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="openerp_chat.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Build Visitor Loyalty</h2>
        <h3 class="oe_slogan">Social Media Integration and Easy Following</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="social.png">
        </div>
        <div class="oe_span6">
           <p class='oe_mt32'>
                The one click <em>follow</em> button will allow visitors
                to receive your blog posts by email with no effort, without
                having to register. Social media icons allow visitors to share
                your best blog posts easily.
           </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Google Analytics Integration</h2>
        <h3 class="oe_slogan">Get visibility on the impact of each blog post</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
            Get a clear visibility of your sales funnel. Odoo's Google
            Analytics trackers are configured by default to track all kinds of
            events related to shopping carts, call-to-actions, etc.
          </p><p>
            As Odoo marketing tools (mass mailing, campaigns, etc) are also
            linked with Google Analytics, you get a 360° view of your business.
          </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="analytics.png">
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">SEO Optimized Blog Posts</h2>
        <h3 class="oe_slogan">Attract new visitors with a good referencing</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
            <iframe width="361" height="200" src="//www.youtube.com/embed/5PKqZpl0TcA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              SEO tools are ready to use, with no configuration required.
              Odoo suggests keywords for your titles according to Google's
              most searched terms, Google Analytics tracks interests of your
              visitors, sitemaps are created automatically for quick Google
              indexing, etc.
          </p><p>
              The system even creates structured content automatically to promote your
              products and events effectively in Google.
          </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Designer-Friendly Themes</h2>
        <h3 class="oe_slogan">Designers love working on Odoo</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Themes are awesome and easy to design. You don't need to develop
              to create new pages, themes or building blocks. We use a clean
              HTML structure, a <a href="http://getbootstrap.com/">bootstrap</a>
              CSS and our modularity allows you to distribute your themes easily.
          </p><p>
              The building block approach allows the website to remain clean
              after end-users start creating new contents.
          </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
            <iframe width="361" height="200" src="//www.youtube.com/embed/eGLs9oq_Me4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Easy Access Rights</h2>
        <h3 class="oe_slogan">A publishing process that meets your own needs</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="blog_create.png">
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Not everyone requires the same access to your website.
              Designers manage the layout of the site, editors approve content and
              authors write that content. This lets you organize your publishing
              process according to your needs.
          </p><p>
              Other access rights are related to business objects (products, people,
              events, etc) and directly following Odoo's standard access rights
              management, so you do not have to configure things twice.
          </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Integrated With Others Odoo Apps</h2>
        <h3 class="oe_slogan">Get hundreds of open source apps for free</h3>
        <div class="oe_span4">
            <a href="/apps/website">
                <h3>CMS</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website_cms.png">
                </div>
            </a>
            <p>
                Easily create awesome websites with no technical knowledge required.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_sale">
                <h3>eCommerce</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website_sale.png">
                </div>
            </a>
            <p>
                Promote products, sell online, optimize visitors' shopping experiences.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_event">
                <h3>Online Events</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website_event.png">
                </div>
            </a>
            <p>
                Schedule, organize, promote or sell events online; conferences,
                webinars, trainings, etc.
            </p>
        </div>
    </div>
</section>

